In [1]:
import pandas as pd

In [24]:
# trip data
taxi_file = ("taxi.parquet")
# location codes
lookup_file = ("taxi_zone_lookup.csv")

# load files
taxi = pd.read_parquet(taxi_file)
lookup = pd.read_csv(lookup_file)
taxi.head(50)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.00,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.00,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.00,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.00,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.00,1.0,19.68,2.5,0.00
5,2,2023-01-01 00:50:34,2023-01-01 01:02:52,1.0,1.84,1.0,N,161,137,1,12.8,1.00,0.5,10.00,0.00,1.0,27.80,2.5,0.00
6,2,2023-01-01 00:09:22,2023-01-01 00:19:49,1.0,1.66,1.0,N,239,143,1,12.1,1.00,0.5,3.42,0.00,1.0,20.52,2.5,0.00
7,2,2023-01-01 00:27:12,2023-01-01 00:49:56,1.0,11.70,1.0,N,142,200,1,45.7,1.00,0.5,10.74,3.00,1.0,64.44,2.5,0.00
8,2,2023-01-01 00:21:44,2023-01-01 00:36:40,1.0,2.95,1.0,N,164,236,1,17.7,1.00,0.5,5.68,0.00,1.0,28.38,2.5,0.00
9,2,2023-01-01 00:39:42,2023-01-01 00:50:36,1.0,3.01,1.0,N,141,107,2,14.9,1.00,0.5,0.00,0.00,1.0,19.90,2.5,0.00
10,2,2023-01-01 00:53:01,2023-01-01 01:01:45,1.0,1.80,1.0,N,234,68,1,11.4,1.00,0.5,3.28,0.00,1.0,19.68,2.5,0.00
11,1,2023-01-01 00:43:37,2023-01-01 01:17:18,4.0,7.30,1.0,N,79,264,1,33.8,3.50,0.5,7.75,0.00,1.0,46.55,2.5,0.00
12,2,2023-01-01 00:34:44,2023-01-01 01:04:25,1.0,3.23,1.0,N,164,143,1,26.1,1.00,0.5,6.22,0.00,1.0,37.32,2.5,0.00
13,2,2023-01-01 00:09:29,2023-01-01 00:29:23,2.0,11.43,1.0,N,138,33,1,44.3,6.00,0.5,13.26,0.00,1.0,66.31,0.0,1.25
14,2,2023-01-01 00:33:53,2023-01-01 00:49:15,1.0,2.95,1.0,N,33,61,1,17.7,1.00,0.5,4.04,0.00,1.0,24.24,0.0,0.00
15,2,2023-01-01 00:13:04,2023-01-01 00:22:10,1.0,1.52,1.0,N,79,186,1,10.0,1.00,0.5,1.25,0.00,1.0,16.25,2.5,0.00
16,2,2023-01-01 00:45:11,2023-01-01 01:07:39,1.0,2.23,1.0,N,90,48,1,19.8,1.00,0.5,4.96,0.00,1.0,29.76,2.5,0.00
17,1,2023-01-01 00:04:33,2023-01-01 00:19:22,1.0,4.50,1.0,N,113,255,1,20.5,3.50,0.5,4.00,0.00,1.0,29.50,2.5,0.00
18,1,2023-01-01 00:03:36,2023-01-01 00:09:36,3.0,1.20,1.0,N,237,239,2,8.6,3.50,0.5,0.00,0.00,1.0,13.60,2.5,0.00
19,1,2023-01-01 00:15:23,2023-01-01 00:29:41,2.0,2.50,1.0,N,143,229,2,15.6,3.50,0.5,0.00,0.00,1.0,20.60,2.5,0.00
20,1,2023-01-01 00:51:45,2023-01-01 00:58:18,1.0,1.40,1.0,N,137,79,1,9.3,3.50,0.5,2.85,0.00,1.0,17.15,2.5,0.00
21,1,2023-01-01 00:13:30,2023-01-01 00:44:00,1.0,17.80,2.0,N,132,116,1,70.0,1.25,0.5,15.85,6.55,1.0,95.15,0.0,1.25
22,1,2023-01-01 00:21:49,2023-01-01 00:29:15,4.0,0.80,1.0,N,163,161,4,8.6,3.50,0.5,0.00,0.00,1.0,13.60,2.5,0.00
23,1,2023-01-01 00:52:06,2023-01-01 01:02:18,2.0,1.70,1.0,N,161,164,4,11.4,3.50,0.5,0.00,0.00,1.0,16.40,2.5,0.00
24,2,2023-01-01 00:19:12,2023-01-01 00:38:27,1.0,5.70,1.0,N,161,87,1,26.8,1.00,0.5,6.36,0.00,1.0,38.16,2.5,0.00
25,2,2023-01-01 00:31:41,2023-01-01 00:51:10,1.0,1.18,1.0,N,68,164,1,17.0,1.00,0.5,6.60,0.00,1.0,28.60,2.5,0.00
26,2,2023-01-01 00:58:49,2023-01-01 01:16:03,1.0,2.42,1.0,N,164,232,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00
27,1,2023-01-01 00:22:24,2023-01-01 00:35:11,2.0,2.30,1.0,N,43,262,1,13.5,3.50,0.5,3.70,0.00,1.0,22.20,2.5,0.00
28,1,2023-01-01 00:40:13,2023-01-01 00:43:03,1.0,0.70,1.0,N,263,262,1,5.1,3.50,0.5,1.82,0.00,1.0,11.92,2.5,0.00
29,1,2023-01-01 00:54:05,2023-01-01 00:59:36,1.0,1.20,1.0,N,263,229,1,7.9,3.50,0.5,2.55,0.00,1.0,15.45,2.5,0.00
30,1,2023-01-01 00:31:30,2023-01-01 00:46:51,2.0,4.10,1.0,N,170,75,2,19.1,3.50,0.5,0.00,0.00,1.0,24.10,2.5,0.00
31,1,2023-01-01 00:51:55,2023-01-01 01:19:20,1.0,9.50,1.0,N,263,36,1,38.7,3.50,0.5,15.05,6.55,1.0,65.30,2.5,0.00
32,2,2023-01-01 00:27:16,2023-01-01 00:59:51,4.0,2.02,1.0,N,163,186,2,26.1,1.00,0.5,0.00,0.00,1.0,31.10,2.5,0.00
33,2,2023-01-01 00:18:08,2023-01-01 00:32:43,1.0,2.17,1.0,N,161,107,2,14.2,1.00,0.5,0.00,0.00,1.0,19.20,2.5,0.00
34,2,2023-01-01 00:39:14,2023-01-01 00:47:26,2.0,2.41,1.0,N,233,263,1,12.1,1.00,0.5,3.42,0.00,1.0,20.52,2.5,0.00
35,2,2023-01-01 00:54:20,2023-01-01 00:56:49,2.0,0.60,1.0,N,236,75,1,5.1,1.00,0.5,2.02,0.00,1.0,12.12,2.5,0.00
36,2,2023-01-01 00:03:52,2023-01-01 00:18:27,1.0,5.01,1.0,N,144,140,1,23.3,1.00,0.5,5.66,0.00,1.0,33.96,2.5,0.00
37,2,2023-01-01 00:23:52,2023-01-01 00:41:20,1.0,3.24,1.0,N,229,246,1,19.1,1.00,0.5,3.00,0.00,1.0,27.10,2.5,0.00
38,2,2023-01-01 00:43:39,2023-01-01 01:00:58,1.0,2.70,1.0,N,68,231,1,16.3,1.00,0.5,4.26,0.00,1.0,25.56,2.5,0.00
39,2,2023-01-01 00:11:19,2023-01-01 00:17:36,2.0,1.20,1.0,N,249,79,1,7.9,1.00,0.5,2.00,0.00,1.0,14.90,2.5,0.00
40,2,2023-01-01 00:15:13,2023-01-01 00:24:45,5.0,1.30,1.0,N,79,170,1,10.7,1.00,0.5,3.14,0.00,1.0,18.84,2.5,0.00
41,2,2023-01-01 00:30:31,2023-01-01 00:47:03,5.0,2.32,1.0,N,170,43,1,16.3,1.00,0.5,5.32,0.00,1.0,26.62,2.5,0.00
42,2,2023-01-01 00:47:59,2023-01-01 01:16:34,5.0,2.35,1.0,N,43,233,1,23.3,1.00,0.5,5.66,0.00,1.0,33.96,2.5,0.00
43,2,2023-01-01 00:21:29,2023-01-01 00:25:11,1.0,0.61,1.0,N,79,4,1,5.8,1.00,0.5,2.16,0.00,1.0,12.96,2.5,0.00
44,2,2023-01-01 00:35:13,2023-01-01 00:46:47,1.0,2.27,1.0,N,79,162,1,13.5,1.00,0.5,3.70,0.00,1.0,22.20,2.5,0.00
45,2,2023-01-01 00:56:38,2023-01-01 01:00:02,1.0,0.82,1.0,N,229,141,1,5.8,1.00,0.5,2.16,0.00,1.0,12.96,2.5,0.00
46,2,2023-01-01 00:47:20,2023-01-01 00:54:36,2.0,1.72,1.0,N,162,224,2,10.0,1.00,0.5,0.00,0.00,1.0,15.00,2.5,0.00
47,2,2023-01-01 00:56:22,2023-01-01 01:10:38,2.0,1.75,1.0,N,224,68,1,14.9,1.00,0.5,3.98,0.00,1.0,23.88,2.5,0.00
48,2,2023-01-01 00:41:41,2023-01-01 01:19:32,1.0,11.11,1.0,N,132,61,1,47.8,1.00,0.5,10.31,0.00,1.0,61.86,0.0,1.25
49,1,2023-01-01 00:20:24,2023-01-01 00:23:54,2.0,0.20,1.0,N,236,236,2,5.1,3.50,0.5,0.00,0.00,1.0,10.10,2.5,0.00

In [13]:
lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [22]:
newark_pickup = (taxi['PULocationID'] == 1).sum()
newark_dropoff = (taxi['DOLocationID'] == 1).sum()
jfk_pickup = (taxi['PULocationID'] == 132).sum()
jfk_dropoff = (taxi['DOLocationID'] == 132).sum()
lag_pickup = (taxi['PULocationID'] == 138).sum()
lag_dropoff = (taxi['DOLocationID'] == 138).sum()

print(f"Airport dropoff numbers.\n Newark: {newark_pickup};\nJFK: {jfk_pickup};\nLaguardia: {lag_pickup};\n\n")
print(f"Airport dropoff numbers.\n Newark: {newark_dropoff};\nJFK: {jfk_dropoff};\nLaguardia: {lag_dropoff};")

Airport dropoff numbers.
 Newark: 410;
JFK: 160030;
Laguardia: 89188;


Airport dropoff numbers.
 Newark: 7526;
JFK: 33190;
Laguardia: 32031;

In [32]:
fee = taxi.iloc[3]['airport_fee']
jfk_fee = fee *  jfk_pickup
lag_fee = fee * lag_pickup
total_fee = lag_fee + jfk_fee

print(f"Total airport fees:\nJFK - ${jfk_fee}\nLaGuardia -  ${lag_fee}\n Total - ${total_fee}")

Total airport fees:
JFK - $200037.5
LaGuardia -  $111485.0
 Total - $311522.5

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,3.066766e+06,3066766,3066766,2.995023e+06,3.066766e+06,2.995023e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,2.995023e+06,2.995023e+06
mean,1.730215e+00,2023-01-17 00:22:26.288164,2023-01-17 00:38:06.427874,1.362532e+00,3.847342e+00,1.497440e+00,1.663980e+02,1.643926e+02,1.194483e+00,1.836707e+01,1.537842e+00,4.882900e-01,3.367941e+00,5.184907e-01,9.820847e-01,2.702038e+01,2.274231e+00,1.074086e-01
min,1.000000e+00,2008-12-31 23:01:42,2009-01-01 14:29:11,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.000000e+02,-7.500000e+00,-5.000000e-01,-9.622000e+01,-6.500000e+01,-1.000000e+00,-7.510000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2023-01-09 16:21:57.250000,2023-01-09 16:37:06,1.000000e+00,1.060000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.540000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2023-01-17 08:42:29.500000,2023-01-17 08:58:30.500000,1.000000e+00,1.800000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.720000e+00,0.000000e+00,1.000000e+00,2.016000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2023-01-24 16:26:27,2023-01-24 16:42:49,1.000000e+00,3.330000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.200000e+00,0.000000e+00,1.000000e+00,2.870000e+01,2.500000e+00,0.000000e+00
max,2.000000e+00,2023-02-01 00:56:53,2023-02-02 09:28:47,9.000000e+00,2.589281e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,1.160100e+03,1.250000e+01,5.316000e+01,3.808000e+02,1.969900e+02,1.000000e+00,1.169400e+03,2.500000e+00,1.250000e+00
std,4.438480e-01,NaN,NaN,8.961200e-01,2.495838e+02,6.474767e+00,6.424413e+01,6.994368e+01,5.294762e-01,1.780782e+01,1.789592e+00,1.034641e-01,3.826759e+00,2.017579e+00,1.833529e-01,2.216359e+01,7.718454e-01,3.556511e-01